body{
    font-family: Tahoma, sans-serif;
}

.body table{
    width: 100%;
}
.body table th{
    font-weight: bold;
    text-decoration: underline;
}
.body table td.c{
    text-align: center;
}
.body table td.b{
    text-align: center;
    font-weight: bold;
}
.body table td input{
    width: 100%;
}
.body table td input[type="submit"] {
    width: auto;
}
.body table td .text{
    width: 100%;
    margin: auto;
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
    white-space: pre-wrap;
    border: 1px solid #dee2e6;
}
